.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.btn {
  background-color: #688aad; /* Blue button color */
  color: white;
  font-weight: bold;
  padding: 0.625rem 1.25rem; /* 10px 20px */
  border: none;
  border-radius: 0.5rem; /* 8px */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #3a4b5e; /* Darker blue on hover */
}